.dock_layout{
    Image {
        padding: 30px;
        box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.75);
    }
    .mission_name{
        text-align: center;
        font-size: 32px;
    }
    .content-list{
        // font-size: 20px;
        Label{
            padding: 0px 20px;
        }
    }
}