<ActionBar class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label class="action-bar-title" text="{{mission.mission_name}} Mission"></Label>
</ActionBar>
<GridLayout rows="" columns="">
        <ActivityIndicator class="activity-indicator" [busy]="processing"></ActivityIndicator>    
</GridLayout>
<DockLayout stretchLastChild="true" class="dock_layout">
        <Image [src]="mission.links.mission_patch_small" width="200" height="200" dock="top" class="thumb m-20"></Image>
        <Label [text]="mission.mission_name" dock="top"  class="h1 text-center"></Label>
        <Label [text]="mission.rocket.rocket_name" dock="top" class="h3 text-center"></Label>
        <Label [text]="mission.launch_year" dock="top"  class="text-muted text-center"></Label>
        <StackLayout dock="left" width="100%" class="content-list">
                <StackLayout class="hr-light m-10"></StackLayout>
                <Label text="Launch date:  {{mission.launch_date_utc | date: 'MMM d, y H:mm:ss' : '+0200'}}"></Label>
        </StackLayout>
</DockLayout>