<ActionBar class="action-bar">
    <NavigationButton icon="res://icon" (tap)="onDrawerButtonTap()"></NavigationButton>
    <Label class="action-bar-title" text="SpaceX's Missions"></Label>
</ActionBar>

<GridLayout class="page">
        <ActivityIndicator class="activity-indicator" [busy]="processing"></ActivityIndicator>
        <ListView [items]="launches">
            <ng-template let-item="item">
                <GridLayout columns="300,auto" rows="*" class="listStyle">
                    <Label row="0" col="0" [text]="item.mission_name" (tap)="onTap(item.flight_number)"></Label>
                    <Image row="0" col="1" width="70px" [src]="item.links.mission_patch_small" class="thumb img-circle"></Image>
                </GridLayout>
            </ng-template>
        </ListView>
</GridLayout>
