<RadSideDrawer [drawerTransition]="sideDrawerTransition">
        <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
            <StackLayout row="0" class="sidedrawer-header">
                <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
                <Label class="sidedrawer-header-brand" text="Pirer"></Label>
                <Label class="footnote" text="somemail@mail.com"></Label>
            </StackLayout>
    
            <ScrollView row="1">
                <StackLayout class="sidedrawer-content">
                    <GridLayout columns="auto, *" (tap)="close()"class="sidedrawer-list-item">
                        <Label col="0" text="&#xf015;" class="fa"></Label>
                        <Label col="1" text="Home" class="p-r-10"></Label>
                    </GridLayout>
    
                    <GridLayout columns="auto, *" (tap)="test()" class="sidedrawer-list-item">
                        <Label col="0" text="&#xf1ea;" class="fa"></Label>
                        <Label col="1" text="Test my api" class="p-r-10"></Label>
                    </GridLayout>
    
                    <!-- <GridLayout columns="auto, *" class="sidedrawer-list-item">
                        <Label col="0" text="&#xf002;" class="fa"></Label>
                        <Label col="1" text="Search" class="p-r-10"></Label>
                    </GridLayout>
    
                    <GridLayout columns="auto, *" class="sidedrawer-list-item">
                        <Label col="0" text="&#xf005;" class="fa"></Label>
                        <Label col="1" text="Featured" class="p-r-10"></Label>
                    </GridLayout>
    
                    <StackLayout class="hr-light"></StackLayout>
    
                    <GridLayout columns="auto, *" class="sidedrawer-list-item">
                        <Label col="0" text="&#xf013;" class="fa"></Label>
                        <Label col="1" text="Settings" class="p-r-10"></Label>
                    </GridLayout> -->
                    <!-- <GridLayout columns="auto, *">
                        <Label col="1" class="h6 text-center text-muted" text="By Piotr"></Label>
                    </GridLayout> -->
                </StackLayout>
            </ScrollView>
        </GridLayout>
    
        <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
    </RadSideDrawer>
