/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
/* @import '~nativescript-theme-core/css/core.light.css'; */
/* @import '~nativescript-theme-core/css/core.dark.css'; */
@import '~nativescript-theme-core/css/sky.css';


/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}
.fa {
    font-family: "FontAwesome";
}

.page-content .page-placeholder {
    color: #D7D7D7;
    font-size: 20;
    vertical-align: center;
    horizontal-align: center;
}
.page-content .page-icon {
    font-size: 72;
    vertical-align: top;
    horizontal-align: center;
    color: #D7D7D7;
    margin-top: 20%;
}

.sidedrawer {
    margin-bottom: -100;
}
.sidedrawer-list-item-icon,.sidedrawer-list-item{
    color: #022734;
}
.sidedrawer.sidedrawer-left {
    background-color: #30bcff;
}
.sidedrawer.sidedrawer-left .sidedrawer-header-image {
    color: #F8F8F8;
    height: 60;
    width: 60;
    font-size: 60;
    padding: 0;
    margin-bottom: 5;
    margin-top: 20;
}
.sidedrawer.sidedrawer-left .footnote {
    color: rgba(255,255,255,0.5);
}
.sidedrawer .sidedrawer-header {
    background-color: #30bcff;
}
.sidedrawer .sidedrawer-header .sidedrawer-header-brand {
    color: #fff;
}
.sidedrawer .sidedrawer-content{ 
    background-color: #fff;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item{
    padding-left: 15;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item Label {
    vertical-align: center;
    color: #022734;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item .fa {
    width: 20;
    margin-right: 10;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item.selected {
    background-color: #F8F8F8;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item.selected Label {
    color:#30bcff;
}