<ActionBar class="action-bar">
    <NavigationButton  android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label class="action-bar-title" text="Testing my api"></Label>
</ActionBar>
<StackLayout class="page" dock="top" >
    <ListView [items]="test" >
        <ng-template let-item="item">
            <GridLayout columns="1*,auto" rows="*" class="listStyle">
                <Label row="0" col="0" text="{{item.firstName}} {{item.lastName}}" class="m-10"></Label>
                <Label row="0" col="1" text="Age: {{item.age}}" class="m-10"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
    <StackLayout class="input-field" >
        <TextField #secondTx hint="Enter some text and click the button" autocorrect="false" returnKeyType="done" (returnPress)="submit(secondTx.text)"
            class="input input-border"></TextField>
    <Button text="Get the second input" (tap)="showAlert(secondTx.text)" class="btn btn-primary btn-active"></Button>
    </StackLayout>
</StackLayout>
